@import '../node_modules/bootstrap/dist/css/bootstrap.css'; // подключили набор стилей для бутстрапа

$text-color:#afafaf;                // создаем цвета которые будем использовать в будущем 
$btn-color:#30c395;
$text-color-secondary: white;
$menu-color: #4ccfc1;
$border-color: #e1e1e1;

@mixin flexAlign($hor:center, $vert:center, $pos:row) {   // создали заготовку для распределения элементов по странице
    display: flex;
    justify-content: $hor;
    align-items: $vert;
    flex-direction: $pos;
}

@mixin myFont($color:black, $size:16px) {   // создали заготовку для шрифтов
    color: $color;
    font-size: $size;
}
body {
    font-family: 'Balsamiq Sans', cursive;
}

.header {
        height: 84px;

    .logo {
        @include flexAlign;
        img {
            width: 105px;

        }
    }
    .search {
        width: 100%;
        height: 100%;
        position: relative;
        @include flexAlign;  //  взяли заготовку по выравниванию
        
        @media screen and (max-width:768px) {
            display: none;
        }
        &__input {
            width: 100%;
            height: 30px;
            outline: none;
            border: 1px solid $border-color; // взяли цвет из сохраненных сверху заготовок
        
        }

        &__img {
            position: absolute;
            right: 10px;
            width: 20px;
        }
    }

    .cart {
        height: 100%;
        width: 100%;
        @include flexAlign(space-between);
        padding: 0 20px;
        box-sizing: border-box;
        @include myFont($text-color, 25px);
        @media screen and (max-width:768px) {
            display: none;
        }
    }
    .menu {
        @include flexAlign;
        display: none;

        @media screen and (max-width:768px) {
            display: flex;
        }
        &__container {
            min-width: 40px;
            height: 40px;
            border-radius: 6px;
            border: 2px solid $btn-color;
            @include flexAlign;

            &-line {
                width: 30px;
                border-bottom: 2px solid $btn-color;
                position: relative;
                transition: 0.4s;

                &::after {
                    content: '';
                    width: 30px;
                    border-bottom: 2px solid $btn-color;
                    position: absolute;
                    top: 8px;
                    left: 0;
                    transition: 0.4s;
                }
                &::before {
                    content: '';
                    width: 30px;
                    border-bottom: 2px solid $btn-color;
                    position: absolute;
                    bottom: 6px;
                    left: 0;
                    transition: 0.4s;
                }
            }
        }
        .checkbox {
            display: none;
        }
    }
   }
   .links {
    background-color: $menu-color;
    @include myFont($text-color-secondary, 17px );
    text-transform: uppercase;

    @media screen and (max-width:768px) {
        display: none;
    }
    
    &__block {
        height: 35px;
        padding: 0 15px;
        box-sizing: border-box;
        @include flexAlign(space-between);
        @media screen and (max-width:1200px) {
            height: 70px;
            justify-content: center;
        }
        

        &-item {
            padding: 3px 13px 0 13px;
            color: $text-color-secondary;
            transition: .4s;
            

            &:hover {
                text-decoration: none;
            } 
        }
    }
}

.checkbox:checked + .menu__container > .menu__container-line {
    border-color: transparent;

    &::after {
        top:0;
        transform:rotate(-45deg);
    }


    &::before {
        top:0;
        transform:rotate(45deg);
    }
}